{% extends 'home/base.html' %}
{% load static %}

{% block title %}My Home Page{% endblock title %}

{% block content %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <img src="{% static 'Image/logo.jpg' %}" width="300"><br><br>
  <h1 class="display-4 fw-normal">Apichai คือใคร?</h1>
  <p class="fs-5 text-muted">Apichai คือ Programmer คนหนึ่งที่ชื่นชอบในการเขียนโปรแกรม ศึกษาและเรียนรู้การเขียนโปรแกรมอยู่เป็นประจำ</p>
</div>

{% endblock content %}

{% block link %}
  <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">ตัวอย่างเกี่ยวกับโปรเจค Who is Uncle Engineer</a></li>
{% endblock link %}